@model IEnumerable<Frontend.Models.Accomodatie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.oppervlakte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slaapkamers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.oppervlakte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slaapkamers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
