@model IEnumerable<Frontend.Models.AdresModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.land)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.provincie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.straat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefoonnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gebruikerid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resortid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.land)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provincie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.straat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefoonnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gebruikerid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resortid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
